%% -*- erlang -*-
[
 {lager, [
          {crash_log, "log/cowboy.rack.crash.log"},
          {error_logger_redirect, ture},

          {handlers, [
                      {lager_console_backend, debug},
                      {lager_file_backend, [
                                            {"log/cowboy.rack.error.log",   error, 104857600, "$D0", 10},
                                            {"log/cowboy.rack.console.log", info,  104857600, "$D0", 10}
                                           ]}
                     ]}
         ]},
  {cowboy.rack, []}
].

